.main-content {
  padding: 20px;
}

.post {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.user-handle {
  color: #888;
}

.post-text {
  margin: 10px 0;
}

.read-more {
  color: #8bc6b0;
  cursor: pointer;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}

.post-stats {
  display: flex;
  align-items: center;
  font-size: 18px; /* Increase font size */
  color: #555;
  justify-content: flex-start; /* Align items to the left */
}

.post-stats span {
  display: flex;
  align-items: center;
  margin-right: 12.5%; /* Reduce spacing between items by half */
  font-weight: bold; /* Make text bold */
}

.icon {
  margin-right: 5px; /* Adjust spacing between icon and text */
}
